In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv('survey_results_public.csv')

# Understand the data

In [3]:
df.shape  # check out the dimension of the dataset
df.dtypes  # look at the data types for each column
df.head()  # read the first five rows
df.tail()  # read the last five rows
df.columns.values  # return an array of column names
df.columns.values.tolist()  # return a list of column namesbikedata.shape  # check out the dimension of the dataset
df.dtypes  # look at the data types for each column
df.head()  # read the first five rows
df.tail()  # read the last five rows
df.columns.values  # return an array of column names
df.columns.values.tolist()  # return a list of column names

['Respondent',
 'MainBranch',
 'Hobbyist',
 'OpenSourcer',
 'OpenSource',
 'Employment',
 'Country',
 'Student',
 'EdLevel',
 'UndergradMajor',
 'EduOther',
 'OrgSize',
 'DevType',
 'YearsCode',
 'Age1stCode',
 'YearsCodePro',
 'CareerSat',
 'JobSat',
 'MgrIdiot',
 'MgrMoney',
 'MgrWant',
 'JobSeek',
 'LastHireDate',
 'LastInt',
 'FizzBuzz',
 'JobFactors',
 'ResumeUpdate',
 'CurrencySymbol',
 'CurrencyDesc',
 'CompTotal',
 'CompFreq',
 'ConvertedComp',
 'WorkWeekHrs',
 'WorkPlan',
 'WorkChallenge',
 'WorkRemote',
 'WorkLoc',
 'ImpSyn',
 'CodeRev',
 'CodeRevHrs',
 'UnitTests',
 'PurchaseHow',
 'PurchaseWhat',
 'LanguageWorkedWith',
 'LanguageDesireNextYear',
 'DatabaseWorkedWith',
 'DatabaseDesireNextYear',
 'PlatformWorkedWith',
 'PlatformDesireNextYear',
 'WebFrameWorkedWith',
 'WebFrameDesireNextYear',
 'MiscTechWorkedWith',
 'MiscTechDesireNextYear',
 'DevEnviron',
 'OpSys',
 'Containers',
 'BlockchainOrg',
 'BlockchainIs',
 'BetterLife',
 'ITperson',
 'OffOn',
 'SocialMedia',
 'Extraversion',
 'ScreenName',
 'SOVisit1st',
 'SOVisitFreq',
 'SOVisitTo',
 'SOFindAnswer',
 'SOTimeSaved',
 'SOHowMuchTime',
 'SOAccount',
 'SOPartFreq',
 'SOJobs',
 'EntTeams',
 'SOComm',
 'WelcomeChange',
 'SONewContent',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Dependents',
 'SurveyLength',
 'SurveyEase']

## Check Missing Values

Next, we would like to check if there are any missing values. To check this, we can use the function dataframe.isnull() in pandas. It will return True for missing components and False for non-missing cells. However, when the dimension of a dataset is large, it could be difficult to figure out the existence of missing values. In general, we may just want to know if there are any missing values first. The function dataframe.isnull().values.any() returns True when there is at least one missing value occurring in the data. The function dataframe.isnull().sum().sum() returns the number of missing values in the data set.

In [28]:
df.isnull()  # checking missing values
df.notnull()  # checking non-missing values
df.isnull().values.any()  # only want to know if there are any missing values
df.notnull().sum()  # knowling number of non-missing values for each variable
df.isnull().sum().sum()  # knowing how many missing values in the data
df["MainBranch"].isnull().values.any()  # only want to know if there are any missing values in MainBranch
df["Country"].isnull().values.any()
df["Country"].isnull().sum()  # return the number of missing values in Country

132

## Get information without missing values

A simple way to deal with data containing missing values is to skip rows with missing values in the dataset. 

df[df["Country"].notnull()]  # the data contain rows that no missing values in Country

no_missing = df.dropna()  # drop missing values and assign the data to no_missing

clean_missing_rows = df.dropna(how="all")  # drop rows where all cells in the row in NA and assign the data to clean_missing_rows

df.dropna(axis=1, how="all")  # drop columns if they only contain missing values

df.dropna(thresh=25)  # drop rows that contain less than 25 non-missing values

Note: If we use dataframe.dropna(thresh=25) to drop rows that contain less than 25 non-missing values, we don't change the original data. We can assign the output to a new variable or save the changes to the original data right away by using dataframe.dropna(thresh=25, inplace=True). In our example, it should be bikedata.dropna(thresh=25, inplace=True).

## More Subsets 

subset4 = df.iloc[:100, :]   a subset of the first 100 rows of the original data

subset5 = df.iloc[:, :3]   a subset of the first 3 columns of the original data

subset6 = df.iloc[:100, :15]   a subset of the first 100 rows and the first 15 columns

subset7 = df[["CNN", "FROM_ST", "TO_ST", "SHAPE_LENG"]]   a subset contains variables CNN, FROM_ST, TO_ST, and SHAPE_LENG

subset8 = df.sample(n=1000)   a random sample of size 1000 without replacement (replace = False (Default))

subset9 = df.sample(frac=0.1, replace=True)   a random sample of 10% of the original data with replacement

In [63]:
subset5 = df.iloc[:, :3]
subset5
df.loc[:,'Respondent':'Hobbyist'] 
# both lines of code produces the same output

       Respondent                                         MainBranch Hobbyist
0               1             I am a student who is learning to code      Yes
1               2             I am a student who is learning to code       No
2               3  I am not primarily a developer, but I write co...      Yes
3               4                     I am a developer by profession       No
4               5                     I am a developer by profession      Yes
...           ...                                                ...      ...
88878       88377                                                NaN      Yes
88879       88601                                                NaN       No
88880       88802                                                NaN       No
88881       88816                                                NaN       No
88882       88863                                                NaN      Yes

[88883 rows x 3 columns]